:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.wrapper {
  width: 50%;
  margin: auto;
  padding: 16px;
  @media (max-width: 375px) {
    width: 100%;
  }
}
.heading {
  display: grid;
  place-content: center;
  font-size: 2rem;
  padding: 16px;
  font-weight: 200;
  color: var(--grey-500);
}
.big-bold {
  font-size: 2rem;
  font-weight: 600;
}
.description {
  color: var(--grey-400);
  font-size: 0.8rem;
  display: grid;
  place-content: center;
  text-align: center;
}
.cards {
  padding-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  @media (max-width: 375px) {
    grid-template-columns: 1fr;
  }
}

.supervisor {
  border-top: 4px solid var(--cyan);
  grid-row: 1/3;
  align-self: center;
  @media (max-width: 375px) {
    grid-row: revert;
  }
}
.team-builder {
  border-top: 4px solid var(--red);
  grid-row: 1;
  grid-column: 2;
  align-self: flex-start;
  @media (max-width: 375px) {
    grid-row: revert;
    grid-column: revert;
  }
}
.karma {
  border-top: 4px solid var(--orange);
  grid-row: 2;
  grid-column: 2;
  @media (max-width: 375px) {
    grid-row: revert;
    grid-column: revert;
  }
}
.calculator {
  border-top: 4px solid var(--blue);
  grid-row: 1/3;
  align-self: center;
  @media (max-width: 375px) {
    grid-row: revert;
  }
}

.card {
  background-color: var(--white);
  padding: 16px;
  padding-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--grey-400);
}
.card-heading {
  font-weight: 600;
}
.card-description {
  font-size: 0.8rem;
}
.card-image {
  max-width: 100%;
  height: auto;
  align-self: flex-end;
}
